@import "bootstrap-sprockets";
@import "bootstrap";
$fb-blue: #365899;
$border: rgba(0,0,0,0.5);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.layout {
  background-color: #e9ebee;
}

.navbar-default .blue {
  background-color: #3B5998;
  color: white; }

  .navbar-header h1 {
    font-size: 50px; }

.login {
  margin: 25px 0 0 5px;
  background-color: #758AB6;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px #000; }

.col-sm-6 {
  padding-top: 70px; }
  .col-sm-6 ul {
    color: #aaa; }

.header {
  padding-bottom: 30px; }
  .header h1 {
    font-size: 45px; }

.radio-group {
  margin-top: 20px; }

.btn-success {
  margin-top: 10px;
  box-shadow: 5px 5px 2px #000;
  font-size: 28px; }

.center {
  display: inline-block;
  margin: 0 auto;
}



.logo {
  width: 42px;
  height: 25px;
  border-radius: 20px; }

.container-fluid {
  border: 1px solid; }
  .container #cover-photo {
    margin: 0;
    padding: 0;
    max-height: 400px;
  }

.avatar {
  height: 200px;
  width: 200px;
  position: absolute;
  top: -165px;
  left: 35px;
  img {
    height: 100%;
    width: 100%;
  }
}

.resize-vert {
  resize: vertical;
}

.cover-container {
  border: 1px solid $border;
}

.timeline-left-info {
  margin-left: 10px;
}

.nav #active {
  background-color: #eee; }
  .nav #active a:hover {
    background-color: #eee; }
.nav span {
  color: #0E1717; }

.main {
  margin-top: 20px;
  padding-bottom: 40px;
  border: 1px solid $border; }
  .main .nav {
    border-bottom: 1px solid $border;
    text-align: center; }
    .main .nav .btn {
      margin-right: 10px;
      margin-top: 15px;
      box-shadow: 5px 5px 2px #000; }

.header {
  margin-bottom: 10px; }

.header2 {
  margin-top: 20px;
  margin-bottom: 10px; }

.content {
  margin-top: 10px; }

.edit-profile {
  height: 400px; }

.save-button {
  margin-top: 50px; }

// timeline csss

.timeline-container {
  background-color: #FFF;
}

.float-r {
  float: right;
  margin-right: 10px;
  @media (max-width: 841px) {
    float:none;
    margin: 10px;
  }
}

.post {
  border: 1px solid $border;
  border-radius: 2%;
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
  }
}

.comment-container {
  .panel-body {
    padding-top: 30px;
  }
}

.comment-form {

  .comment-field {
    margin-top: 15px;
  }

  .button-row {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

.post-form {
  padding-top: 10px;
}

.about-row {
  margin-top: 10px;
  border: 1px solid $border;

  .about-header {
    background-color: #e9ebee;
    border-bottom: 1px solid $border;
  }

  .about-info {
    padding-left: 5px;
  }
}

.photos-row {
  margin-top: 10px;
  border: 1px solid $border;

  .photos-header {
    background-color: #e9ebee;
    border-bottom: 1px solid $border;
  }

  .photos-footer {
    a {
      text-decoration: none;
    }
  }

  .friends-header {
    background-color: #e9ebee;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
  }
}

.thumbnails {
  font-size: 10px;
  @media (max-width: 841px) {
    font-size: 1em;
  }
}

// header

.avatar-container {
  .user-name {
    position: relative;
    top: -80px;
    left: 240px;
    color: #fff;
    display: inline;
  }
}

.header-container {
  margin-bottom: 20px;
}

.header-row {
  background-color: #FFF;
}

// About Page

.about-container {
  background-color: #FFF;
}

.about-title {
  display: inline-block
}

// Photos

.photos-container {
  background-color: #FFF;
}

.file-upload {
  padding: 15px 0;
  padding-left: 50px;
}

// Friends

.friends-container {
  background-color: #FFF;
}

// Newsfeed

.recent-activity-row {
  background-color: #FFF;
  border: 1px solid $border;
  margin-bottom: 10px;
  padding: 5px 0;
}

.newsfeed-posts {
  margin-top: 20px;
}

// Navbar

.navbar-container {
  color: #FFF;
  background-color: $fb-blue;
  .navbar-brand {
    color: #FFF;
  }

  .nav-links {
    color: #FFF;
    &:hover {
      background-color: $fb-blue;
    }
  }
}

// Searches

.search-list {
  background-color: #FFF;
  border: 1px solid $border;
  padding: 5px 0;
  margin: 10px 0;
}
